.container
{
    margin: auto;

    width: 90%;
}

html 
{
    height: 100%;
}

body 
{
    color: white;
    background-image: linear-gradient(#2C3E65, #000000);
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h5, h6
{
    text-align: center;
/* 
    text-shadow: 2px 2px 4px #141D29; */
}

h1
{
    font-size: 42px;
}

h2
{   
    font-size: 24px;
}

h3, h6
{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 28px;
    
}

h4
{
    font-size: 24px;
    font-style: italic;
}

h5
{
    font-size: 36px;
    font-weight: 700;
}

h6
{
    color: #f1faee;
}

.game_images_holder, .game_images_holder_portrait
{
    display: flex;
    justify-content: center;

    margin-bottom: 10px;

    width: 480px;
    height: 240px;

    font-weight: 500;
}

.game_images_holder_portrait
{
    width: 240px;
    height: 480px;
}

.game_video_holder
{
    display: flex;
    justify-content: center;
}

.text_gen, .text_center
{
    color: #3d3d3d;
    /* text-shadow: 2px 2px 4px #141D29; */

    text-align: justify;
    font-size: 22px;
    font-weight: 500;
}

.text_center
{
    text-align: center !important;
}

#mainHeader {
    min-height: 200px;
    padding-top: 50px;
    background-image: radial-gradient(#2c4b65, #2c3e65);
}

.avatar
{
    position: relative;
    
    top: -30px;
    width: 150px;
    height: 150px;
    z-index: 2;
}

.small-icon
{
    width: 32px;
    height: 32px;
}

/* @media screen and (max-width: 769px){

}
@media screen and (min-width: 770px){
    .shortcut-bar {
        background-image: linear-gradient(#457B9D,rgba(52, 52, 52, 0));
        height: 90px;
        width: 100%;
        min-width: 240px;
    }
} */

.shortcut-bar {
    background-image: linear-gradient(#2C3E65,rgba(52, 52, 52, 0));
    min-width: 240px;
}

.shortcut-button
{
    border: none;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    width: 25%;
    height: 90px;
    line-height: 90px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 28px;
    color: #F1FAEE;
    text-transform: uppercase;
    /* text-shadow: 2px 2px 4px #141D29; */
    /* padding: 0 40px; */
    max-width: 1200px;
    background-color: transparent;
    /* background-image: linear-gradient(#563d7caf,rgba(31, 31, 31, 0.753)); */
}

.holderbar
{
    border-radius: 6px;
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #f7f7f7;
    /* border-style: solid;
    border-color: #eeded3;
    border-width: 10px; */
    position: relative;
    width: 70%;
}

.introbar 
{
    min-height: 300px;
    width: 90%;
}


.material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    top: 5px;
    position: relative;
    line-height: 90px;
    color: #ffa500;
    font-feature-settings: 'liga';
  }

  .material-icons-sm, .material-images {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    bottom: -8px;
    position: relative;
    line-height: 90px;
    font-feature-settings: 'liga';
  }

  .material-images
  {
     bottom: 0px;
  }

  .contact-text
  {
    color: #f1faee;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .code-image
  {
    display: flex;
    justify-content: center;
    
    margin-bottom: 50px;

    min-width: 25%;
    min-height: 25%;
  }

  .contact-text a{color:#fff;}